/** {
	margin: 0;
	padding: 0;
}
*/
body {
	background-color: #25cece;
}

.container {
	margin: 0 auto;
	width: 50%;
	background-color: white;
	font-family: Garamond, Times, serif;
}

.container header, footer {
	background-color: #2ae0e0;
}

.fieldcontainer {
	padding-top: 20px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

#query {
	border: 1px solid #2ae0e0;
	border-radius: 5px;
	padding: 5px;
}

header {
	padding: 5px 30px;
}

header h1 {
	margin-bottom: 0;
}

header span {
	color: red;
}

header h4 {
	margin-top: 0;
	font-weight: normal;
}

footer {
	text-align: center;
}

footer h5 {
	padding: 10px;
}